<h1>show all of the places that you added</h1>

<ul>
  {{#each placesFound}}
    <div>
      <a href="/place/detail/{{id}}">
        <h3>{{name}}</h3>
      </a>
      <p>{{address}} {{zipCode}} Berlin </p>
      <p>{{description}}</p>
      {{!-- <p>{{category}}</p> --}}
    </div>

  {{/each}}
</ul>