
<div id="myPlacesList">
{{!-- <h1>Places you've added</h1> --}}

<ul>
  {{#each placesFound}}
    <div>
      <a href="/place/detail/{{id}}">
        <h3>{{name}}</h3>
      </a>
      <p>{{address}} {{zipCode}} Berlin </p>
      <p>{{description}}</p>
      {{!-- <p>{{category}}</p> --}}
    </div>
    <div class="myPlcBtnContainer">
<a href="/place/detail/{{id}}">Edit</a>     

<form action="/place/delete/{{id}}" method="post">
          <button type="submit">Delete</button>
    </div>

  {{/each}}
</ul>
</div>