<h1>Edit this Place</h1>

{{!-- if the user is logged in, show: --}}
{{#if username}}
      <form class="createform" action="/place/edit/{{id}}">
        <div class="placewrapper">
          <label>Name of the Place
            <input type="text" name="name" value="{{name}}">
          </label>

          <label>Address
            <input type="text" name="address" value="{{address}}">
          </label>

          <label>ZIP-Code
            <input type="number" name="zipCode" value="{{zipCode}}">
          </label>
          <label>Description
              <textarea name="description" cols="30" rows="10">{{description}}</textarea>
            </label>
          <label>Category
            <input type="string" name="category" value="{{category}}">
          </label>
            <button class="addplace" type="submit">Save changes</button>
        </form>

        <form action="/place/delete/{{id}}" method="post">
          <button class="btndelete" type="submit">Delete</button>
      </div>
      </form>
{{/if}}
{{!-- if the user is NOT loggend in, show: --}}


   {{!--  <div>
    <h3>{{name}}</h3>
      <p>Address: {{address}} {{zipCode}} Berlin</p>
      <p>{{description}}</p>
      <p>{{category}}</p>
    </div> --}}