<h1 class="centerheader">Edit this Place</h1>

{{!-- if the user is logged in, show: --}}
{{#if currentUser.username}}
      <form class="createform" action="/place/detail/{{place.id}}" method="post">
        <div class="placewrapper">
          <label>Name of the Place
            <input type="text" name="name" value="{{place.name}}" required>
          </label>

          <label>Address
            <input type="text" name="address" value="{{place.address}}" required>
          </label>

          <label>ZIP-Code
            <input type="number" name="zipCode" value="{{place.zipCode}}" required>
          </label>
          <label>Category
            <input type="string" name="category" value="{{place.category}}" required>
          </label>
          <label>
              <textarea name="description" cols="30" rows="10" required>{{place.description}}</textarea>
            </label>
            <div class="addplace">
              <button  type="submit">Save changes</button>
            </div>
        </form>


        <form action="/place/delete/{{id}}" method="post">
        <div class="deleteplace">
          <button type="submit">Delete</button>
        </div>
      </div>
      </form>
{{/if}}
{{!-- if the user is NOT loggend in, show: --}}


   {{!--  <div>
    <h3>{{name}}</h3>
      <p>Address: {{address}} {{zipCode}} Berlin</p>
      <p>{{description}}</p>
      <p>{{category}}</p>
    </div> --}}